div:hover {
    border-style:groove;
}
.primaria:hover {
    background-color:rgb(222, 222, 72);
}
.secundaria:hover {
    background-color: rgb(159, 72, 159);
}
.complementar:hover {
    background-color: aquamarine;
    font-size: 2em;
}
.escura:hover {
    background-color: darkgreen;
}
.clara:hover {
    background-color: lightcoral;
}
.primaria {
    color:rgb(222, 222, 72);
}
.secundaria {
    color:rgb(159, 72, 159);
}
.complementar {
    color:aquamarine;
}
.escura {
    color: darkgreen;
}
.clara {
    color:lightcoral;
}
.primaria, .complementar, .clara {
    font-style:italic;
}