body {
    font-size: 16px;
}
h1 {
    font-size:65px;
    color: orange;
    font-family: sans-serif;
    }
ul {
    background-color: rgb(192, 192, 214);
    font-style: italic;
    line-height: 30px;
    text-align: center; 
    text-decoration:underline;
}
#lista {
    background-color: rgb(242, 199, 243);
}
p {
    font-size: 3em;
    font-weight: 600;
}
#amarelo {
    background-color: rgb(250, 250, 183);
}
#vermelho {
    background-color: rgb(247, 156, 156);
}
#marrom {
    background-color: rgb(116, 91, 91);
}